@model SimplCommerce.Module.Orders.ViewModels.DeliveryInformationVm

@{
    ViewBag.Title = "Delivery Information";
}

<div class="row">
    <div class="col-md-7">
        <form asp-controller="Checkout" asp-action="DeliveryInformation" method="POST" id="checkout-delivery-address" class="form-horizontal">
            <h3>@Localizer["Shipping address"]</h3>
            @foreach(var address in Model.ExistingShippingAddresses)
            {
                <div class="radio">
                    <label>
                        <input type="radio" name="shippingAddressId" value="@address.UserAddressId" checked="@(Model.ShippingAddressId == address.UserAddressId ? "checked" : null)">
                        <strong>@address.ContactName </strong><br />
                        @address.AddressLine1 <br />
                        @address.DistrictName, @address.StateOrProvinceName <br />
                        Phone: @address.Phone
                    </label>
                </div>
            }
            <div class="radio">
                <label>
                    <input type="radio" name="shippingAddressId" checked="@(Model.ShippingAddressId == 0 ? "checked" : null)" value="0" />
                    @Localizer["Add another address"]
                </label>
            </div>
            <div class="create-shipping-address collapse">
                <div class="form-group">
                    <label class="col-sm-4 control-label">@Localizer["Contact name"]</label>
                    <div class="col-sm-8">
                        <input asp-for="NewAddressForm.ContactName" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">@Localizer["Address"]</label>
                    <div class="col-sm-8">
                        <input asp-for="NewAddressForm.AddressLine1" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">@Localizer["Country"]</label>
                    <div class="col-sm-8">
                        <select asp-for="NewAddressForm.CountryId" asp-items="Model.NewAddressForm.ShipableContries" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">@Localizer["State or Province"]</label>
                    <div class="col-sm-8">
                        <select asp-for="NewAddressForm.StateOrProvinceId" asp-items="Model.NewAddressForm.StateOrProvinces" class="form-control">
                            <option value="">@Localizer["Choose one"]</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">@Localizer["District"]</label>
                    <div class="col-sm-8">
                        <select asp-for="NewAddressForm.DistrictId" asp-items="Model.NewAddressForm.Districts" class="form-control">
                            <option value="">@Localizer["Choose one"]</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">@Localizer["Phone"]</label>
                    <div class="col-sm-8">
                        <input asp-for="NewAddressForm.Phone" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <h3>@Localizer["Shipping methods"]</h3>
            <div id="shippingMethods">
                <div class="radio">
                    <label>
                        <input type="radio" name="shippingMethod" value="free">
                        <strong>FREE</strong>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-order">@Localizer["Order"]</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-5">
        @await Component.InvokeAsync("OrderSummary")
    </div>
</div>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script simpl-append-version="true" src="~/modules/shipping/shipping.js"></script>
}