<div class="card">
    <div class="card-header">@Localizer["Your account"]</div>
    <div class="card-body">
        <ul class="list-unstyled">
            <li><a href="~/user">@Localizer["Account Dashboard"]</a></li>
            <li><a href="~/user/info">@Localizer["Account Information"]</a></li>
            <li><a href="~/user/address">@Localizer["Address Book"]</a></li>
            <li><a href="~/user/order-history">@Localizer["Order History"]</a></li>
        </ul>
    </div>
</div>