@using SimplCommerce.Module.Core.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-controller="Manage" asp-action="Index" title="@Localizer["Manage"]">@Localizer["Hello {0}!", UserManager.GetUserName(User)]</a>
    </li>
    @if (User.IsInRole("admin") || User.IsInRole("vendor"))
    {
        <li><a asp-controller="HomeAdmin" asp-action="Index">@Localizer["Dashboard"]</a></li>
    }
    <li>
        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="">
            <button type="submit" class="btn btn-link">@Localizer["Log off"]</button>
        </form>
    </li>
}
else
{
    <li><a asp-controller="Account" asp-action="Login">@Localizer["Log in"]</a></li>
    <li><a asp-controller="Account" asp-action="Register">@Localizer["Register"]</a></li>
}
