@using Microsoft.AspNetCore.Localization
@using SimplCommerce.Infrastructure

@inject IViewLocalizer Localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture;
}

@if (GlobalConfiguration.Cultures.Count() > 1)
{
<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
        Language (@requestCulture.UICulture.Name)
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu lang-selector">
        @foreach (var culture in GlobalConfiguration.Cultures)
        {
            <li class="dropdown-item">
                <a href="#" data-value="@culture.Id">@culture.Name
                @if (culture.IsDefault)
                {
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                }
                </a>
            </li>
        }
    </ul>
    <form asp-controller="Localization" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" method="post" id="lang-form" role="form">
        <input type="hidden" name="culture" value="@requestCulture.UICulture.Name" />
    </form>
</li>
}