@model SimplCommerce.Web.ViewModels.Cart.CartViewModel

<h3>Order Summary (@Model.CartItems.Count() products) </h3>
<table class="table table-striped">
    <tr>
        <th>Product</th>
        <th class="text-center">Quantity</th>
        <th class="text-right">Total</th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr>
            <td>
                @item.ProductName
                @if (item.VariationOptions.Any())
                {
                    <ul class="list-unstyled">
                        @foreach (var attr in item.VariationOptions)
                        {
                            <li><span>@attr.OptionName:</span> @attr.Value</li>
                        }
                    </ul>
                }
            </td>
            <td class="text-center">@item.Quantity</td>
            <td class="text-right">@item.TotalString</td>
        </tr>
    }
    <tr>
        <td><strong>Total</strong></td>
        <td colspan="2" class="text-right"><strong>@Model.SubTotal</strong></td>
    </tr>
</table>