@model IEnumerable<SimplCommerce.Module.Core.ViewModels.UserAddressListItem>
@{
    ViewData["Title"] = "Address book";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_AccountMenu")
    </div>
    <div class="col-md-9">
        <h2>Address Book</h2>
        <hr />
        @foreach (var address in Model)
        {
            <div>
                <strong>@address.ContactName </strong><br />
                @address.AddressLine1 <br />
                @address.DistrictName, @address.StateOrProvinceName <br />
                Phone: @address.Phone
            </div>
            <div>
                @if (address.IsDefaultShippingAddress)
                {
                    <span class="label label-primary">Default shipping address</span>
                }
                else
                {
                    <form method="post" style="display: inline" asp-controller="UserAddress" asp-action="SetAsDefault" asp-route-id="@address.UserAddressId">
                        <button type="submit" class="btn btn-link" style="padding: 0">Set as default shipping address</button>
                    </form>
                    <span> | </span>
                }
                <a href="~/user/address/edit/@address.UserAddressId">Edit</a><span> | </span>
                <form method="post" style="display: inline" asp-controller="UserAddress" asp-action="Delete" asp-route-id="@address.UserAddressId">
                    <button type="submit" class="btn btn-link" style="padding: 0">Delete</button>
                </form>
            </div>
            <hr />
        }

        <div class="text-right"><a class="btn btn-primary" href="~/user/address/create">Add address</a></div>
    </div>
</div>