@model SimplCommerce.Module.Cms.ViewModels.SpaceBarWidgetComponentVm
<div align="center" class="row">
    @foreach (var item in Model.Items)
    {
        @if (!(string.IsNullOrEmpty(item.IconHtml)))
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <i class='@item.IconHtml space-bar-widget-icon' aria-hidden='true'></i>
                <div class="portfolio-overlay">
                    <h4>@item.Title</h4>
                    <p>
                        @item.Description
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <i aria-hidden='true'><img src="/user-content/@item.Image" alt="" style="width: 150px; height: 150px;" class="img-responsive" /></i>
                <div class="portfolio-overlay">
                    <h4>@item.Title</h4>
                    <p>
                        @item.Description
                    </p>
                </div>
            </div>
        }
    }
</div>

