@model HvCommerce.Web.ViewModels.Catalog.ProductDetail

@section head
{
    <link href="~/lib/smoothproducts/css/smoothproducts.css" rel="stylesheet" />
    <link href="~/css/product-detail.css" rel="stylesheet" />
}

<div class="product-detail">
    <div class="row">
        <div class="col-md-6">
            <div class="sp-wrap">
                @foreach (var image in Model.Images)
                {
                    <a href="@image.Url">
                        <img src="@image.ThumbnailUrl" alt="" />
                    </a>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-name">
                <h1 class="">@Model.Name</h1>
                <div>@Model.ShortDescription</div>
                <br />
                @if (Model.HasVariation)
                {
                    foreach (var attribute in Model.AvailableAttributes)
                    {
                        <p>
                            <label>@attribute.AttributeName: </label>
                            <ul class="list-inline product-attrs">
                                @foreach (var value in attribute.Values)
                                {
                                    <li>
                                        <input type="radio" name="@attribute.AttributeName" />
                                        <label>@value</label>
                                    </li>
                                }
                            </ul>
                        </p>
                    }
                }
                <p class="product-price">Price: @Model.Price.ToString("C2")</p>
            </div>
        </div>
    </div>
    <div>
        <h3>Product detail</h3>
        @Model.Description
    </div>
    <div>
        <h3>Product specification</h3>
        @Model.Specification
    </div>
</div>

@section scripts
{
    <script src="~/lib/smoothproducts/js/smoothproducts.js"></script>
    <script src="~/js/product-detail.js"></script>
}
