@using System.Globalization

@model SimplCommerce.Web.ViewModels.Catalog.ProductList
@{
    var col = 12/Model.ItemsPerRow;
}

<div class="row product-list">
    @foreach (var product in Model.Items)
    {
        <div class="col-sm-6 col-md-@col">
            <div class="thumbnail">
                <a href="~/@product.SeoTitle">
                    <img alt="@product.Name" src="@product.ThumbnailUrl">
                    <div class="caption">
                        <h4 class="product-name">@product.Name</h4>
                        <p class="product-price">@product.Price.ToString("c")</p>
                    </div>
                </a>
                <div class="buttons">
                    @if (product.NumberVariation > 0)
                    {
                        <a href="~/@product.SeoTitle" class="btn btn-add-cart-style" role="button">Add to cart</a>
                    }
                    else
                    {
                        <form class="inline">
                            <input type="hidden" name="productId" value="@product.Id" />
                            <button type="button" class="btn btn-add-cart-style btn-add-cart" role="button">Add to cart</button>
                        </form>
                    }
                    <button class="btn" role="button"><i class="fa fa-exchange"></i></button>
                    <button class="btn" role="button"><i class="fa fa-heart"></i></button>
                </div>
            </div>
        </div>
    }
</div>