@model IEnumerable<SimplCommerce.Module.Catalog.ViewModels.CategoryMenuItem>

@inject IViewLocalizer Localizer

<ul class="nav navbar-nav main-menu">
    @foreach (var item in Model)
    {
        if (item.ChildItems.Any())
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="javascript:void(0);">@item.Name</a>
                <ul class="dropdown-menu">
                    <li><a href="/@item.SeoTitle">@Localizer["All"] @item.Name</a></li>
                    @foreach (var childItem in item.ChildItems)
                    {
                        if (childItem.ChildItems.Any())
                        {
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">@childItem.Name</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/@childItem.SeoTitle">@Localizer["All"] @childItem.Name</a></li>
                                    @foreach (var childChildItem in childItem.ChildItems)
                                    {
                                        <li><a href="/@childChildItem.SeoTitle">@childChildItem.Name</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a href="/@childItem.SeoTitle">@childItem.Name</a></li>
                        }
                    }
                </ul>
            </li>
        }
        else
        {
            <li><a href="/@item.SeoTitle">@item.Name</a></li>
        }
    }
</ul>