@model SimplCommerce.Module.Contact.ViewModels.ContactVm

@{
    ViewData["Title"] = "Contact";
}
<div class="row">
    <div  class="col-md-6">
        <div class="col-md-12">
           <h3 class = "page-header">@Localizer["Contact Us"]</h3>
        </div>
        <div class ="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                   <div class="col-sm-6">
                       <input type="text" class="form-control" id="fullName" placeholder="@Localizer["Full name"]">
                   </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="phoneNumber" placeholder="@Localizer["Phone number"]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="email" class="form-control" id="email" placeholder="@Localizer["Email"]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="address" placeholder="@Localizer["Address"]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="captcha" placeholder="@Localizer["Captcha"]">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="captchaImage" placeholder="@Localizer["Captcha"]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-default">@Localizer["Submit"]</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="col-md-6">
        <h1>Google Map</h1>
    </div>
</div>
